# Environment files, editors, OS-specific files, compiled files
.DS_Store
*~
.idea
*.pyc
*.swp
*.log
mypy-report/

# Pip installation
src/*/
src/pip-delete-this-directory.txt

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
